body {
    background-color: black;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
    text-align: center;

}

h1:hover {
    background: linear-gradient(to left bottom, blue, purple );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


