body {
    margin: 0;
    background: url(floresta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    height: 100vh;
}

#caixa {
    text-align: center;
    background-color: gainsboro;
    border-radius: 30px;
    opacity: 50%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: dodgerblue;
    font-weight: bold;
    width: 600px;
}

p {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    font-weight: bold;
}

body:active {
    margin: 0;
    background: url(montanha.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
